$main_color: #000000;
$border_width: 0.4vw;
$gutter: 0.7vw;

// Font
$fontTitle : 'Bangers';

$fontTexte : 'Komika Hand', sans-serif;

// Size font
$sizeTitle125 : 125px;
$sizeTitle100 : 100px;
$sizeTitle75 : 75px;
$sizeTitle50 : 50px;
$sizeTitle25 : 25px;
$sizeTitle18 : 18px;

// Color
$white : #FFFFFF;
$black : #000000;
$grey : #070302;
$pink : #E91E78;
$red : #D81F25;
$yellow : #FED004;
$green : #22B170;
$blue : #0171B9;