$main_color: #000000;
$border_width: 0.4vw;
$gutter: 0.7vw;

// Font
$fontTitle: "Bangers", "Roboto";
$fontTexte: "Komika Hand", "Comic Sans MS", sans-serif;

$svgPath: "../svg/";
$svgPathMin: "../svg/min/";

// Size font
$sizeTitle125: 125px;
$sizeTitle100: 100px;
$sizeTitle75: 75px;
$sizeTitle50: 50px;
$sizeTitle25: 25px;
$sizeTitle18: 18px;

// Color
$white: #ffffff;
$black: #000000;
$grey: #070302;
$pink: #e91e78;
$red: #d81f25;
$yellow: #fed004;
$green: #22b170;
$blue: #0171b9;
