.about{
    width: 100%;
    &:before{
        content: 'About Me';
        font-family: $fontTitle;
        font-size: 4vw;
        font-weight: 400;
        background: $yellow;
        border: 0.4vw solid black;
        border-right: none;
        position: absolute;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 20px;
        top: 60px;
        right: 0px;
        z-index: 1;

        
    }
}

.about-content{
    width: 100%;
    height: calc(100vh - 4vw);
    border: 0.4vw solid black;
    position: relative;
    background: url($svgPathMin +'shapes-pattern.svg'),$green;
    background-size: 15%;
    background-position: center center;
    &__bubble{
        position: fixed;
        transform: translate(10vw, 0);
        
        
        
    }
    &__profil{
        position: fixed;
        object-fit: cover;
        transform: translate(-10%,10%);
        height: 75%;
        bottom: 0;
        
        
    }
    

    &__content {
        text-align: center;
        margin: 3vw auto;
        padding: 2vw;
        width: 60vw;
        overflow: hidden;
        .content{
            &-logo{
                width: 7vw;
                border-radius: 100%;
                position:relative;
                
            }
            &-text{
                p {
                    font-family: $fontTexte;
                    margin-top: 2vw;
                    font-size: 1.5vw;
                    text-shadow: 1px 1px 0px #ffffff;
                }
            }
            
            &-links{
                margin-top: 2vw;
                text-align: center;
                text-align-last: center;

                a {
                    margin: 0 1vw;
                    font-family: $fontTitle;
                    font-weight: 100;
                    font-size: 2vw;
                    transition: all .8s cubic-bezier(0,0,.23,1);
                    text-decoration: none;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-image: linear-gradient(90deg,$red,$red 50%,#080808 0);
                    background-size: 200% 100%;
                    background-position: 100%;
                    cursor: pointer;
                    color: #080808;
                    text-align: left;
                    letter-spacing: 2px;

                    &:nth-last-child(1){
                        display: block;
                    }
                    &:hover {
                        background-position: 0;
                        color: $blue;
                    }
                }
            }
    
            
        }
        
    }
    

}