.wrapper-accueil {
  height: calc(100vh - 4vw);
  width: 170%;
  overflow-x: visible;
  .grid {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1.6fr 1fr 0.33fr 0.6fr 0.03fr 0.08fr 1fr 0.12fr 0.33fr 0.33fr 0.33fr 0.8fr;
    grid-template-rows: 0.6fr 0.5fr 1.2fr 0.1fr 0.3fr 0.6fr;
    grid-gap: $gutter;

    figure {
      overflow: hidden;
      background: $main_color;
      position: relative;
      opacity: 1;
      transition: 0.2s;
      display: flex;
      flex-direction: column;

      div {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s;
        will-change: transform;
        clip-path: polygon(
          #{$border_width} #{$border_width},
          calc(100% - (#{$border_width})) #{$border_width},
          calc(100% - #{$border_width}) calc(100% - #{$border_width}),
          #{$border_width} calc(100% - #{$border_width})
        );

        flex-grow: 1;
        overflow: hidden;
      }

      &:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 7;

        div {
          position: relative;
          background: url("../svg/circle-pattern-1.svg"), $white;
          background-size: 130%;
          background-position: bottom left;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            transition: 0.2s;
            will-change: transform;
          }

          p {
            font-family: $fontTitle;
            text-align: center;
            color: $black;
            font-weight: lighter;
            margin: 5vw;
            display: block;
            font-size: 7vw;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(-30deg);
          }
        }
      }

      &:nth-child(2) {
        grid-column: 2 / 6;
        grid-row: 1 / 3;
        clip-path: polygon(0 0, 100% 0, 100% 52%, 97% 52%, 97% 100%, 0% 100%);
        .background {
          background-color: $red;
          clip-path: polygon(
            #{$border_width} #{$border_width},
            calc(100% - #{$border_width}) #{$border_width},
            calc(100% - #{$border_width}) calc(52% - #{$border_width}),
            calc(97% - #{$border_width}) calc(52% - #{$border_width}),
            calc(97% - #{$border_width}) calc(100% - #{$border_width}),
            #{$border_width} calc(100% - #{$border_width})
          );

          .text {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            h2 {
              padding: 0 10px;
              span {
                width: 96%;
                font-family: $fontTitle;
                text-align: center;
                text-shadow: 8px 5px 0px #000000;
                color: $white;
                font-weight: lighter;
                margin: 0;
                display: block;
                &:nth-child(1) {
                  font-size: 5vw;
                  line-height: 5vw;
                }
                &:nth-child(2) {
                  font-size: 4vw;
                  line-height: 4vw;
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        grid-column: 2 / 4;
        grid-row: 3 / 6;
        clip-path: polygon(
          0px 0px,
          100% 0%,
          100% 78%,
          73% 78%,
          73% 100%,
          0% 100%
        );
        div.fig-content {
          background: url("../svg/total-pattern-1.svg"), $blue;
          background-size: 130%;
          background-position: left;
          clip-path: polygon(
            #{$border_width} #{$border_width},
            calc(100% - #{$border_width}) #{$border_width},
            calc(100% - #{$border_width}) calc(78% - #{$border_width}),
            calc(73% - #{$border_width}) calc(78% - #{$border_width}),
            calc(73% - #{$border_width}) calc(100% - #{$border_width}),
            #{$border_width} calc(100% - #{$border_width})
          );

          div {
            position: relative;
            text-align: center;
            p {
              font-family: $fontTexte;
              width: 60%;
              position: absolute;
              top: 43%;
              left: 53%;
              transform: translate(-50%, -50%);
              font-size: 1vw;
            }

            .button-wrapper {
              position: absolute !important;
              top: 75%;
              left: 36%;
            }
          }

          img {
            object-fit: cover;
            transition: 0.2s;
            will-change: transform;
          }

          .cell-img {
            &__bubble {
              height: 85%;
            }
            &__woman {
              height: 80%;
              position: fixed;
              bottom: 0px;
              transform: translate(-47%, 0px);
              z-index: 2;
            }
          }
        }
      }

      &:nth-child(4) {
        grid-column: 4 / 5;
        grid-row: 3 / 5;

        div {
          background: url("../svg/black-pattern-1.svg"), $grey;
          background-size: cover;
          background-position: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s;
            will-change: transform;
          }
        }
      }

      &:nth-child(5) {
        grid-column: 2 / 2;
        grid-row: 6 / 6;

        div {
          background-color: $pink;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s;
            will-change: transform;
          }
        }
      }

      &:nth-child(6) {
        grid-column: 3 / 7;
        grid-row: 5 / 7;
        clip-path: polygon(
          0px 0px,
          84% 0%,
          84% 39%,
          100% 39%,
          100% 100%,
          0% 100%
        );
        div {
          background-color: $green;
          clip-path: polygon(
            #{$border_width} #{$border_width},
            calc(84% - #{$border_width}) #{$border_width},
            calc(84% - #{$border_width}) calc(39% + #{$border_width}),
            calc(100% - #{$border_width}) calc(39% + #{$border_width}),
            calc(100% - #{$border_width}) calc(100% - #{$border_width}),
            #{$border_width} calc(100% - #{$border_width})
          );

          .text {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            h2 {
              padding: 0 2vw;
              span {
                width: 96%;
                font-family: $fontTitle;
                text-align: left;
                text-shadow: 8px 5px 0px #00000063;
                color: $white;
                font-weight: lighter;
                margin: 0;
                display: block;
                font-size: 3.5vw;
                line-height: 3.5vw;
              }
            }
          }
        }
      }

      &:nth-child(7) {
        grid-column: 6 / 9;
        grid-row: 1 / 1;

        div {
          background-color: $white;
        }
      }

      &:nth-child(8) {
        grid-column: 5 / 9;
        grid-row: 2 / 6;
        clip-path: polygon(
          0px 0px,
          100% 0%,
          100% 76%,
          87% 76%,
          87% 100%,
          0% 100%
        );
        div {
          background: url("../svg/spirale-pattern-1.svg"), $yellow;
          background-size: 130%;
          background-position: center;
          clip-path: polygon(
            #{$border_width} #{$border_width},
            calc(100% - #{$border_width}) #{$border_width},
            calc(100% - #{$border_width}) calc(76% - #{$border_width}),
            calc(87% - #{$border_width}) calc(76% - #{$border_width}),
            calc(87% - #{$border_width}) calc(100% - #{$border_width}),
            #{$border_width} calc(100% - #{$border_width})
          );

          h2 {
            span {
              width: 96%;
              font-family: $fontTitle;
              text-align: center;
              text-shadow: 8px 5px 0px #ffffff;
              color: $black;
              font-weight: lighter;
              margin-top: 2vw;
              display: block;
              font-size: 4vw;
              line-height: 4vw;
            }
          }

          img {
            width: 100%;
            object-position: center;
            object-fit: cover;
            transition: 0.2s;
            position: fixed;
            bottom: 0px;
            will-change: transform;
          }
        }
      }

      &:nth-child(9) {
        grid-column: 7 / 7;
        grid-row: 6 / 6;

        div {
          background-color: $white;
        }
      }

      &:nth-child(10) {
        grid-column: 9 / 12;
        grid-row: 1 / 3;

        div {
          background-color: $pink;

          h3 {
            span {
              width: 96%;
              font-family: $fontTitle;
              text-align: left;
              color: $white;
              text-shadow: 5px 5px 0px #00000063;
              font-weight: lighter;
              margin-top: 2vw;
              margin: 2vw;
              display: block;
              font-size: 2vw;
              line-height: 2vw;
            }
          }

          img {
            width: 15%;
            margin: 0 0.5vw;
          }
        }
      }

      &:nth-child(11) {
        grid-column: 9 / 11;
        grid-row: 3 / 4;
        position: relative;

        div {
          background: url("../svg/flux-pattern-3.svg"), $grey;
          background-size: 130%;
          background-position: bottom left;
          overflow: visible;

          img {
            width: 100%;
            height: 90%;
            object-fit: center top;
            object-fit: contain;
          }
        }
      }
      &:nth-child(12) {
        grid-column: 11 / 13;
        grid-row: 3 / 5;

        div {
          background-color: $green;
        }
      }

      &:nth-child(13) {
        grid-column: 8 / 13;
        grid-row: 4 / 7;
        clip-path: polygon(
          0px 0px,
          40% 0%,
          40% 20%,
          100% 20%,
          100% 100%,
          0% 100%
        );

        .text {
          background: url("../svg/flux-pattern-1.svg"), $blue;
          background-size: cover;
          background-position: center;
          clip-path: polygon(
            #{$border_width} #{$border_width},
            calc(40% - #{$border_width}) #{$border_width},
            calc(40% - #{$border_width}) calc(20% + #{$border_width}),
            calc(100% - #{$border_width}) calc(20% + #{$border_width}),
            calc(100% - #{$border_width}) calc(100% - #{$border_width}),
            #{$border_width} calc(100% - #{$border_width})
          );

          h2 {
            font-family: $fontTitle;
            text-align: left;
            text-shadow: 8px 5px 0px #00000063;
            color: $white;
            font-weight: lighter;
            font-size: 2.5vw;
            line-height: 3.5vw;
            position: absolute;
            top: 2%;
            left: 3%;
          }

          p {
            font-family: $fontTexte;
            width: 90%;
            position: absolute;
            top: 55%;
            left: 48%;
            transform: translate(-50%, -50%);
            font-size: 1vw;
            color: $white;
            font-weight: lighter;
          }

          .button-wrapper {
            position: absolute;
            top: 73%;
            left: 73%;
          }
        }
      }
    }

    .copyright {
      color: $main_color;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      right: -1.9vw;
      writing-mode: vertical-rl;
      font-size: 1.5vw;
      &:before {
        content: "\00a9";
        display: inline-block;
        transform: rotate(90deg);
      }
    }

    .button-wrapper {
      object-fit: none;
      transition: none;
      clip-path: none;
      width: 10vw;
      height: 3.5vw;

      a {
        position: relative;
        width: 100%;
        padding-top: 25%;
        display: block;
        background-size: 100% 100%;
        font-family: $fontTexte;
        font-size: 1vw;
        margin-bottom: 20px;
        text-decoration: none;
        color: #333;

        &.button {
          background-image: url("../img/BTN-img2.png");
          &:after {
            content: attr(title);
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-image: url("../img/BTN-img.png");
            transition: all 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:hover:after {
            -webkit-transform: translate(2.5%, 10%);
            transform: translate(2.5%, 10%);
            color: black;
          }
        }
      }
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px;
      grid-auto-rows: 200px;

      figure {
        grid-column: auto !important;
        grid-row: auto !important;
        clip-path: unset !important;
        &:nth-child(2),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
          grid-row: auto / span 2 !important;
          width: auto;
        }
      }
    }

    @media (max-width: 420px) {
      grid-template-columns: 1fr;
      figure {
        grid-column-end: div 1 !important;
        grid-row: auto !important;
      }
    }
  }
}
