@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2vw;
  font-weight: 700;
}

a:visited, a:focus, a:active, a:link {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1vw;
  font-weight: 700;
}

ul {
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Bangers";
  src: url(../fonts/Bangers/bangers-regular-webfont.woff2), format("woff2");
  src: url(../fonts/Bangers/bangers-regular-webfont.woff), format("woff");
  src: url(../fonts/Bangers/Bangers-Regular.ttf), format("truetype");
}
@font-face {
  font-family: "Komika Hand";
  src: url(../fonts/Komika-hand/komika_hand.woff2), format("woff2");
  src: url(../fonts/Komika-hand/komika_hand.woff), format("woff");
  src: url(../fonts/Komika-hand/komika_hand.ttf), format("truetype");
}
/*.page-leave-active {
    animation: translate-up .5s ease-in-out;
}

.page-enter-active{
    animation: translate-up .5s  reverse;
}

@keyframes translate-up {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(0,-105%);
    }
  } */
/*.page-enter-active,
    .page-leave-active {
        position: absolute;
        transition: all 0.85s ease-in-out;
        transform-origin: 0% 0%;
    }

    .page-enter-from {
        transform: rotateZ(-90deg);
    }

    .page-enter-to {       
        transform: rotateZ(0deg);
    }


    .page-leave-from {
        transform: rotateZ(0deg);
    }


    .page-leave-to {
        transform: rotateZ(90deg);
    }*/
/*.page-leave-active {
        animation: move-down 1s ease-in-out;
        transform-origin: 0% 0%;
    }

    .page-enter-active{
        animation: move-up 1s ease-in-out;
        transform-origin: 0% 0%;
    }

    @keyframes move-down {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(180deg);
        }
      }

      @keyframes move-up {
        0% {
            transform: rotateY(-180deg);
        }
        100% {
            transform: rotateY(0deg);
        }
      }*/
.button-wrapper {
  -o-object-fit: none;
     object-fit: none;
  -webkit-transition: none;
  transition: none;
  -webkit-clip-path: none;
          clip-path: none;
  width: 10vw;
  height: 3.5vw;
}
.button-wrapper a {
  position: relative;
  width: 100%;
  padding-top: 25%;
  display: block;
  background-size: 100% 100%;
  font-family: "Komika Hand", sans-serif;
  font-size: 1vw;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}
.button-wrapper a.button {
  background-image: url("../img/BTN-img2.webp");
}
.button-wrapper a.button:after {
  content: attr(title);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../img/BTN-img.webp");
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-wrapper a.button:hover:after {
  -webkit-transform: translate(2.5%, 10%);
  transform: translate(2.5%, 10%);
  color: black;
}

.black-overlay {
  position: absolute;
  z-index: 3;
  width: 200vw;
  height: 200vw;
  top: 0;
  left: 0;
  background-color: #000000;
  display: none;
}

.home-content {
  height: calc(100vh - 4vw);
  width: 170%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.home-content .home-content-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 1.6fr 0.7vw 1fr 0.7vw 0.33fr 0.7vw 0.6fr 0.7vw 0.03fr 0.7vw 0.08fr 0.7vw 1fr 0.7vw 0.12fr 0.7vw 0.33fr 0.7vw 0.33fr 0.7vw 0.33fr 0.7vw 0.8fr;
  grid-template-columns: 1.6fr 1fr 0.33fr 0.6fr 0.03fr 0.08fr 1fr 0.12fr 0.33fr 0.33fr 0.33fr 0.8fr;
  -ms-grid-rows: 0.6fr 0.7vw 0.5fr 0.7vw 1.2fr 0.7vw 0.1fr 0.7vw 0.3fr 0.7vw 0.6fr;
  grid-template-rows: 0.6fr 0.5fr 1.2fr 0.1fr 0.3fr 0.6fr;
  grid-gap: 0.7vw;
}
.home-content .home-content-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.home-content .home-content-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.home-content .home-content-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.home-content .home-content-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.home-content .home-content-grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.home-content .home-content-grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
.home-content .home-content-grid > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
.home-content .home-content-grid > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
.home-content .home-content-grid > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}
.home-content .home-content-grid > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}
.home-content .home-content-grid > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}
.home-content .home-content-grid > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}
.home-content .home-content-grid > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.home-content .home-content-grid > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.home-content .home-content-grid > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.home-content .home-content-grid > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.home-content .home-content-grid > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.home-content .home-content-grid > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}
.home-content .home-content-grid > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}
.home-content .home-content-grid > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}
.home-content .home-content-grid > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}
.home-content .home-content-grid > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}
.home-content .home-content-grid > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}
.home-content .home-content-grid > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}
.home-content .home-content-grid > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.home-content .home-content-grid > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.home-content .home-content-grid > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.home-content .home-content-grid > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.home-content .home-content-grid > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}
.home-content .home-content-grid > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}
.home-content .home-content-grid > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}
.home-content .home-content-grid > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}
.home-content .home-content-grid > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}
.home-content .home-content-grid > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}
.home-content .home-content-grid > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}
.home-content .home-content-grid > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}
.home-content .home-content-grid > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.home-content .home-content-grid > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.home-content .home-content-grid > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.home-content .home-content-grid > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}
.home-content .home-content-grid > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}
.home-content .home-content-grid > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}
.home-content .home-content-grid > *:nth-child(43) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}
.home-content .home-content-grid > *:nth-child(44) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}
.home-content .home-content-grid > *:nth-child(45) {
  -ms-grid-row: 7;
  -ms-grid-column: 17;
}
.home-content .home-content-grid > *:nth-child(46) {
  -ms-grid-row: 7;
  -ms-grid-column: 19;
}
.home-content .home-content-grid > *:nth-child(47) {
  -ms-grid-row: 7;
  -ms-grid-column: 21;
}
.home-content .home-content-grid > *:nth-child(48) {
  -ms-grid-row: 7;
  -ms-grid-column: 23;
}
.home-content .home-content-grid > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.home-content .home-content-grid > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.home-content .home-content-grid > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}
.home-content .home-content-grid > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}
.home-content .home-content-grid > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}
.home-content .home-content-grid > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}
.home-content .home-content-grid > *:nth-child(55) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}
.home-content .home-content-grid > *:nth-child(56) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}
.home-content .home-content-grid > *:nth-child(57) {
  -ms-grid-row: 9;
  -ms-grid-column: 17;
}
.home-content .home-content-grid > *:nth-child(58) {
  -ms-grid-row: 9;
  -ms-grid-column: 19;
}
.home-content .home-content-grid > *:nth-child(59) {
  -ms-grid-row: 9;
  -ms-grid-column: 21;
}
.home-content .home-content-grid > *:nth-child(60) {
  -ms-grid-row: 9;
  -ms-grid-column: 23;
}
.home-content .home-content-grid > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.home-content .home-content-grid > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
.home-content .home-content-grid > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}
.home-content .home-content-grid > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}
.home-content .home-content-grid > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}
.home-content .home-content-grid > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}
.home-content .home-content-grid > *:nth-child(67) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}
.home-content .home-content-grid > *:nth-child(68) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}
.home-content .home-content-grid > *:nth-child(69) {
  -ms-grid-row: 11;
  -ms-grid-column: 17;
}
.home-content .home-content-grid > *:nth-child(70) {
  -ms-grid-row: 11;
  -ms-grid-column: 19;
}
.home-content .home-content-grid > *:nth-child(71) {
  -ms-grid-row: 11;
  -ms-grid-column: 21;
}
.home-content .home-content-grid > *:nth-child(72) {
  -ms-grid-row: 11;
  -ms-grid-column: 23;
}
.home-content .home-content-grid figure {
  overflow: hidden;
  background: #000000;
  position: relative;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-content .home-content-grid figure .cell-content {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
  -webkit-clip-path: polygon(0.4vw 0.4vw, calc(100% - (0.4vw)) 0.4vw, calc(100% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
          clip-path: polygon(0.4vw 0.4vw, calc(100% - (0.4vw)) 0.4vw, calc(100% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.home-content .home-content-grid figure:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}
.home-content .home-content-grid figure:nth-child(1) .cell-content {
  position: relative;
  background: url("../svg/min/circle-pattern-1.svg"), #FFFFFF;
  background-size: 130%;
  background-position: bottom left;
}
.home-content .home-content-grid figure:nth-child(1) .cell-content__img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
}
.home-content .home-content-grid figure:nth-child(1) .cell-content__text.--bigt {
  font-family: "Bangers";
  text-align: center;
  color: #000000;
  font-weight: lighter;
  margin: 5vw;
  display: block;
  font-size: clamp(3.125rem, 2.1481rem + 5.2099vw, 8.4rem);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.home-content .home-content-grid figure:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 52%, 97% 52%, 97% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 52%, 97% 52%, 97% 100%, 0% 100%);
}
.home-content .home-content-grid figure:nth-child(2) .cell-content {
  background-color: #D81F25;
  -webkit-clip-path: polygon(0.4vw 0.4vw, calc(100% - 0.4vw) 0.4vw, calc(100% - 0.4vw) calc(52% - 0.4vw), calc(97% - 0.4vw) calc(52% - 0.4vw), calc(97% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
          clip-path: polygon(0.4vw 0.4vw, calc(100% - 0.4vw) 0.4vw, calc(100% - 0.4vw) calc(52% - 0.4vw), calc(97% - 0.4vw) calc(52% - 0.4vw), calc(97% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
}
.home-content .home-content-grid figure:nth-child(2) .cell-content-textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-content .home-content-grid figure:nth-child(2) .cell-content__text.--titleFirst {
  padding: 0 10px;
  margin: 0;
}
.home-content .home-content-grid figure:nth-child(2) .cell-content__text.--titleFirst span {
  width: 96%;
  font-family: "Bangers";
  text-align: center;
  text-shadow: 8px 5px 0px #000000;
  color: #FFFFFF;
  font-weight: lighter;
  margin: 0;
  display: block;
}
.home-content .home-content-grid figure:nth-child(2) .cell-content__text.--titleFirst span:nth-child(1) {
  font-size: clamp(1.875rem, 1.1111rem + 4.0741vw, 6rem);
  line-height: clamp(1.875rem, 1.1111rem + 4.0741vw, 6rem);
}
.home-content .home-content-grid figure:nth-child(2) .cell-content__text.--titleFirst span:nth-child(2) {
  font-size: clamp(0.8125rem, 0.0741rem + 3.9383vw, 4.8rem);
  line-height: clamp(0.8125rem, 0.0741rem + 3.9383vw, 4.8rem);
}
.home-content .home-content-grid figure:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 79%, 73% 79%, 73% 100%, 0% 100%);
          clip-path: polygon(0px 0px, 100% 0%, 100% 79%, 73% 79%, 73% 100%, 0% 100%);
}
.home-content .home-content-grid figure:nth-child(3) .cell-content {
  background: url("../svg/min/total-pattern-1.svg"), #0171B9;
  background-size: 130%;
  background-position: left;
  -webkit-clip-path: polygon(0.4vw 0.4vw, calc(100% - 0.4vw) 0.4vw, calc(100% - 0.4vw) calc(79% - 0.4vw), calc(73% - 0.4vw) calc(79% - 0.4vw), calc(73% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
          clip-path: polygon(0.4vw 0.4vw, calc(100% - 0.4vw) 0.4vw, calc(100% - 0.4vw) calc(79% - 0.4vw), calc(73% - 0.4vw) calc(79% - 0.4vw), calc(73% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
}
.home-content .home-content-grid figure:nth-child(3) .cell-content > div {
  position: relative;
  text-align: center;
}
.home-content .home-content-grid figure:nth-child(3) .cell-content__text.--smallt {
  font-family: "Komika Hand", sans-serif;
  width: 60%;
  position: absolute;
  top: 47%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(0.625rem, -0.0254rem + 1.0163vw, 1.5625rem);
  line-height: clamp(0.625rem, -0.8926rem + 2.3713vw, 2.8125rem);
}
.home-content .home-content-grid figure:nth-child(3) .cell-content .button-wrapper {
  position: fixed;
  bottom: 2%;
  left: 5%;
  z-index: 2;
  width: clamp(8.125rem, 7.4306rem + 3.7037vw, 11.875rem);
}
.home-content .home-content-grid figure:nth-child(3) .cell-content .button-wrapper .button {
  font-size: clamp(0.9375rem, 0.8912rem + 0.2469vw, 1.1875rem);
}
.home-content .home-content-grid figure:nth-child(3) .cell-content__img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
}
.home-content .home-content-grid figure:nth-child(3) .cell-content__img.--bubble {
  height: 100%;
  width: 100%;
}
.home-content .home-content-grid figure:nth-child(3) .cell-content__img.--woman {
  height: 80%;
  position: fixed;
  bottom: 0px;
  -webkit-transform: translate(-47%, 0px);
          transform: translate(-47%, 0px);
  z-index: 2;
}
.home-content .home-content-grid figure:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}
.home-content .home-content-grid figure:nth-child(4) .cell-content {
  background: url("../svg/min/black-pattern-1.svg"), #070302;
  background-size: cover;
  background-position: center;
}
.home-content .home-content-grid figure:nth-child(4) .cell-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
  cursor: pointer;
}
.home-content .home-content-grid figure:nth-child(4) .cell-content__text.--smallt {
  font-family: "Komika Hand", sans-serif;
  width: 60%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(0.625rem, 0.5208rem + 0.5556vw, 1.1875rem);
  line-height: clamp(1.375rem, 1.0887rem + 0.4469vw, 1.625rem);
}
.home-content .home-content-grid figure:nth-child(5) {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 6;
  grid-row: 6/6;
}
.home-content .home-content-grid figure:nth-child(5) .cell-content {
  background-color: #E91E78;
}
.home-content .home-content-grid figure:nth-child(5) .cell-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
}
.home-content .home-content-grid figure:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -webkit-clip-path: polygon(0px 0px, 85% 0%, 85% 39%, 100% 39%, 100% 100%, 0% 100%);
          clip-path: polygon(0px 0px, 85% 0%, 85% 39%, 100% 39%, 100% 100%, 0% 100%);
}
.home-content .home-content-grid figure:nth-child(6) .cell-content {
  background-color: #22B170;
  -webkit-clip-path: polygon(0.4vw 0.4vw, calc(85% - 0.4vw) 0.4vw, calc(85% - 0.4vw) calc(39% + 0.4vw), calc(100% - 0.4vw) calc(39% + 0.4vw), calc(100% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
          clip-path: polygon(0.4vw 0.4vw, calc(85% - 0.4vw) 0.4vw, calc(85% - 0.4vw) calc(39% + 0.4vw), calc(100% - 0.4vw) calc(39% + 0.4vw), calc(100% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
}
.home-content .home-content-grid figure:nth-child(6) .cell-content-textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-content .home-content-grid figure:nth-child(6) .cell-content-textContent .cell-content__text.--titleSecond {
  padding: 0 2vw;
  margin: 0;
}
.home-content .home-content-grid figure:nth-child(6) .cell-content-textContent .cell-content__text.--titleSecond span {
  width: 96%;
  font-family: "Bangers";
  text-align: left;
  text-shadow: 8px 5px 0px #00000063;
  color: #FFFFFF;
  font-weight: lighter;
  margin: 0;
  display: block;
  font-size: clamp(1.875rem, -0.5098rem + 3.7263vw, 5.3125rem);
  line-height: clamp( 1.875rem, -0.5098rem + 3.7263vw, 5.3125rem );
}
.home-content .home-content-grid figure:nth-child(7) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  -ms-grid-row: 1;
  grid-row: 1/1;
}
.home-content .home-content-grid figure:nth-child(7) .cell-content {
  background-color: #FFFFFF;
}
.home-content .home-content-grid figure:nth-child(8) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 77%, 88% 77%, 88% 100%, 0% 100%);
          clip-path: polygon(0px 0px, 100% 0%, 100% 77%, 88% 77%, 88% 100%, 0% 100%);
}
.home-content .home-content-grid figure:nth-child(8) .cell-content {
  background: url("../svg/min/spirale-pattern-1.svg"), #FED004;
  background-size: 130%;
  background-position: center;
  -webkit-clip-path: polygon(0.4vw 0.4vw, calc(100% - 0.4vw) 0.4vw, calc(100% - 0.4vw) calc(77% - 0.4vw), calc(88% - 0.4vw) calc(77% - 0.4vw), calc(88% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
          clip-path: polygon(0.4vw 0.4vw, calc(100% - 0.4vw) 0.4vw, calc(100% - 0.4vw) calc(77% - 0.4vw), calc(88% - 0.4vw) calc(77% - 0.4vw), calc(88% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
}
.home-content .home-content-grid figure:nth-child(8) .cell-content .cell-content__text.--titleSecond {
  margin: 0;
}
.home-content .home-content-grid figure:nth-child(8) .cell-content .cell-content__text.--titleSecond span {
  width: 96%;
  font-family: "Bangers";
  text-align: center;
  text-shadow: 8px 5px 0px #ffffff;
  color: #000000;
  font-weight: lighter;
  margin-top: 2vw;
  display: block;
  font-size: clamp(3.4375rem, 3.1944rem + 1.2963vw, 4.75rem);
  line-height: clamp(3.4375rem, 3.1944rem + 1.2963vw, 4.75rem);
}
.home-content .home-content-grid figure:nth-child(8) .cell-content__img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  bottom: 0px;
  will-change: transform;
}
.home-content .home-content-grid figure:nth-child(9) {
  -ms-grid-column: 7;
  grid-column: 7/7;
  -ms-grid-row: 6;
  grid-row: 6/6;
}
.home-content .home-content-grid figure:nth-child(9) .cell-content {
  background-color: #FFFFFF;
}
.home-content .home-content-grid figure:nth-child(10) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.home-content .home-content-grid figure:nth-child(10) .cell-content {
  background-color: #E91E78;
}
.home-content .home-content-grid figure:nth-child(10) .cell-content__text.--titleThird span {
  width: 96%;
  font-family: "Bangers";
  text-align: left;
  color: #FFFFFF;
  text-shadow: 5px 5px 0px #00000063;
  font-weight: lighter;
  margin: 2vw;
  margin-top: 25px;
  display: block;
  font-size: 38px;
  line-height: 2vw;
}
.home-content .home-content-grid figure:nth-child(10) .cell-content__img {
  width: 15%;
  margin: 0 0.5vw;
}
.home-content .home-content-grid figure:nth-child(11) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
}
.home-content .home-content-grid figure:nth-child(11) .cell-content {
  background: url("../svg/min/flux-pattern-3.svg"), #070302;
  background-size: 130%;
  background-position: bottom left;
  overflow: visible;
}
.home-content .home-content-grid figure:nth-child(11) .cell-content__img {
  width: 100%;
  height: 90%;
  -o-object-fit: center top;
     object-fit: center top;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-content .home-content-grid figure:nth-child(12) {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}
.home-content .home-content-grid figure:nth-child(12) .cell-content {
  background-color: #22B170;
}
.home-content .home-content-grid figure:nth-child(12) .cell-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-content .home-content-grid figure:nth-child(12) .cell-content__text.--titleSecond {
  padding: 0 10px;
  margin: 0;
}
.home-content .home-content-grid figure:nth-child(12) .cell-content__text.--titleSecond span {
  width: 100%;
  font-family: "Bangers";
  text-align: center;
  text-shadow: 8px 5px 0px #00000063;
  color: #FFFFFF;
  font-weight: lighter;
  margin: 0;
  display: block;
  font-size: clamp(1.875rem, 1.1111rem + 4.0741vw, 6rem);
  line-height: clamp(1.875rem, 1.1111rem + 4.0741vw, 6rem);
}
.home-content .home-content-grid figure:nth-child(13) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  -webkit-clip-path: polygon(0px 0px, 41.5% 0%, 41.5% 16%, 100% 16%, 100% 100%, 0% 100%);
          clip-path: polygon(0px 0px, 41.5% 0%, 41.5% 16%, 100% 16%, 100% 100%, 0% 100%);
}
.home-content .home-content-grid figure:nth-child(13) .cell-content {
  background: url("../svg/min/flux-pattern-1.svg"), #0171B9;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0.4vw 0.4vw, calc(41.5% - 0.4vw) 0.4vw, calc(41.5% - 0.4vw) calc(16% + 0.4vw), calc(100% - 0.4vw) calc(16% + 0.4vw), calc(100% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
          clip-path: polygon(0.4vw 0.4vw, calc(41.5% - 0.4vw) 0.4vw, calc(41.5% - 0.4vw) calc(16% + 0.4vw), calc(100% - 0.4vw) calc(16% + 0.4vw), calc(100% - 0.4vw) calc(100% - 0.4vw), 0.4vw calc(100% - 0.4vw));
}
.home-content .home-content-grid figure:nth-child(13) .cell-content__text.--titleSecond {
  font-family: "Bangers";
  text-align: left;
  text-shadow: 8px 5px 0px #00000063;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: clamp(1.6875rem, 0.0398rem + 2.5745vw, 4.0625rem);
  position: absolute;
  top: 3%;
  left: 3%;
  margin: 0;
}
.home-content .home-content-grid figure:nth-child(13) .cell-content__text.--smallt {
  font-family: "Komika Hand", sans-serif;
  width: 90%;
  position: absolute;
  top: 55%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(0.625rem, -0.0254rem + 1.0163vw, 1.5625rem);
  color: #FFFFFF;
  font-weight: lighter;
}
.home-content .home-content-grid figure:nth-child(13) .cell-content .button-wrapper {
  position: absolute;
  top: 73%;
  left: 73%;
  width: clamp(5.625rem, 4.4676rem + 6.1728vw, 11.875rem);
}
.home-content .home-content-grid figure:nth-child(13) .cell-content .button-wrapper .button {
  font-size: clamp(0.5625rem, 0.4468rem + 0.6173vw, 1.1875rem);
}
.home-content .home-content-grid .home-content-grid__copyright {
  color: #000000;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: -1.9vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1.5vw;
}
.home-content .home-content-grid .home-content-grid__copyright:before {
  content: "©";
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 1024px) {
  .home-content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .home-content .home-content-grid {
    -ms-grid-columns: 1fr 0.7vw 1fr 0.7vw 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
    grid-auto-rows: 100px;
  }
  .home-content .home-content-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .home-content .home-content-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .home-content .home-content-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .home-content .home-content-grid__cell {
    grid-column: auto !important;
    grid-row: auto !important;
    -webkit-clip-path: unset !important;
            clip-path: unset !important;
    border: 0.6vw #000000 solid;
  }
}
@media (max-width: 1024px) and (max-width: 765px) {
  .home-content .home-content-grid__cell {
    border: 0.8vw #000000 solid !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell div {
    -webkit-clip-path: unset !important;
            clip-path: unset !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(1) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 4 !important;
    grid-row: 1/5 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(1) .cell-content__img {
    width: 60% !important;
  }
  .home-content .home-content-grid__cell:nth-child(1) .--bigt {
    left: 50% !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(2) {
    -ms-grid-column: 3 !important;
    grid-column: 3/3 !important;
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 5 !important;
    grid-row: 1/6 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(2) .cell-content__text.--titleFirst span {
    text-shadow: 5px 2px 0px #000000 !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(3) {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 2/4 !important;
    -ms-grid-row: 7 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 7/10 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(3) .cell-content__text.--smallt {
    top: 36% !important;
    left: 53% !important;
    font-size: clamp( 0.9375rem, 0.3808rem + 1.1628vw, 1.125rem ) !important;
    line-height: clamp( 1.3125rem, 0.0136rem + 2.7132vw, 1.75rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(3) .button-wrapper {
    top: 85% !important;
    left: 65% !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(4) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 7 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 7/10 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(5) {
    -ms-grid-column: 3 !important;
    grid-column: 3/3 !important;
    -ms-grid-row: 6 !important;
    grid-row: 6/6 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(6) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 5 !important;
    -ms-grid-row-span: 2 !important;
    grid-row: 5/7 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(6) .cell-content__text.--titleSecond span {
    font-size: 58px !important;
    line-height: 58px !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(7) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 14 !important;
    -ms-grid-row-span: 1 !important;
    grid-row: 14/15 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(8) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 10 !important;
    -ms-grid-row-span: 5 !important;
    grid-row: 10/15 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(8) .cell-content__text.--titleSecond span {
    text-shadow: 5px 2px 0px #ffffff !important;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(9) {
    -ms-grid-column: 3 !important;
    grid-column: 3/3 !important;
    -ms-grid-row: 10 !important;
    -ms-grid-row-span: 1 !important;
    grid-row: 10/11 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(10) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 15 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 15/18 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(11) {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 2/3 !important;
    -ms-grid-row: 15 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 15/18 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(12) {
    -ms-grid-column: 3 !important;
    grid-column: 3/3 !important;
    -ms-grid-row: 15 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 15/18 !important;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .home-content .home-content-grid__cell:nth-child(13) {
    -ms-grid-column: 3 !important;
    grid-column: 3/3 !important;
    -ms-grid-row: 11 !important;
    -ms-grid-row-span: 4 !important;
    grid-row: 11/15 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(13) .cell-content__text.--titleSecond {
    font-size: clamp( 2.125rem, 0.0944rem + 4.2471vw, 2.8125rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(13) .cell-content__text.--smallt {
    top: 50% !important;
    font-size: clamp( 0.9375rem, 0.3808rem + 1.1628vw, 1.125rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(13) .button-wrapper {
    width: clamp(8.125rem, 7.4306rem + 3.7037vw, 11.875rem) !important;
    top: 85% !important;
    left: 45% !important;
  }
  .home-content .home-content-grid__cell:nth-child(13) .button-wrapper a {
    font-size: clamp( 0.9375rem, 0.8912rem + 0.2469vw, 1.1875rem ) !important;
  }
}
@media (max-width: 765px) {
  .home-content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .home-content .home-content-grid {
    -ms-grid-columns: 1fr 0.7vw 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
  }
  .home-content .home-content-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .home-content .home-content-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .home-content .home-content-grid__cell div {
    -webkit-clip-path: unset !important;
            clip-path: unset !important;
  }
  .home-content .home-content-grid__cell:nth-child(1) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 7 !important;
    grid-row: 1/8 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(1) .cell-content__img {
    width: 75% !important;
  }
  .home-content .home-content-grid__cell:nth-child(1) .--bigt {
    left: 0 !important;
  }
  .home-content .home-content-grid__cell:nth-child(2) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 8 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 8/11 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(3) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 11 !important;
    -ms-grid-row-span: 4 !important;
    grid-row: 11/15 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(3) .cell-content__text.--smallt {
    top: 42% !important;
    left: 55% !important;
    font-size: clamp( 0.5625rem, 0.2802rem + 1.5054vw, 1rem ) !important;
    line-height: clamp( 0.9375rem, 0.5746rem + 1.9355vw, 1.5rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(3) .button-wrapper {
    top: 85% !important;
    left: 43% !important;
    width: clamp(5.625rem, 4.4676rem + 6.1728vw, 11.875rem) !important;
  }
  .home-content .home-content-grid__cell:nth-child(3) .button-wrapper a {
    font-size: clamp( 0.5625rem, 0.4468rem + 0.6173vw, 1.1875rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(4) {
    -ms-grid-column: 2 !important;
    grid-column: 2/2 !important;
    -ms-grid-row: 8 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 8/11 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(5) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 15 !important;
    -ms-grid-row-span: 2 !important;
    grid-row: 15/17 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(6) {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 2/3 !important;
    -ms-grid-row: 15 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 15/18 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(6) .cell-content__text.--titleSecond span {
    font-size: clamp( 1.5rem, 0.6935rem + 4.3011vw, 2.75rem ) !important;
    line-height: clamp( 1.5rem, 0.6935rem + 4.3011vw, 2.75rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(7) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 17 !important;
    -ms-grid-row-span: 1 !important;
    grid-row: 17/18 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(8) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 18 !important;
    -ms-grid-row-span: 7 !important;
    grid-row: 18/25 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(9) {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 2/3 !important;
    -ms-grid-row: 28 !important;
    -ms-grid-row-span: 1 !important;
    grid-row: 28/29 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(10) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 28 !important;
    -ms-grid-row-span: 4 !important;
    grid-row: 28/32 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(11) {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 2/3 !important;
    -ms-grid-row: 29 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 29/32 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(12) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 32 !important;
    -ms-grid-row-span: 2 !important;
    grid-row: 32/34 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(13) {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 25 !important;
    -ms-grid-row-span: 3 !important;
    grid-row: 25/28 !important;
    width: auto;
  }
  .home-content .home-content-grid__cell:nth-child(13) .cell-content__text.--titlesecond {
    font-size: clamp( 1.625rem, 1.0605rem + 3.0108vw, 2.5rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(13) .cell-content__text.--smallt {
    top: 58% !important;
    font-size: clamp( 0.5625rem, 0.2802rem + 1.5054vw, 1rem ) !important;
  }
  .home-content .home-content-grid__cell:nth-child(13) .button-wrapper {
    top: 80% !important;
    left: 70% !important;
    width: clamp(5.625rem, 4.4676rem + 6.1728vw, 11.875rem) !important;
  }
  .home-content .home-content-grid__cell:nth-child(13) .button-wrapper a {
    font-size: clamp( 0.5625rem, 0.4468rem + 0.6173vw, 1.1875rem ) !important;
  }
}

.projects-container {
  width: calc(100%);
  height: calc(100vh - 4vw);
  border: 0.4vw solid black;
}
.projects-container .projects {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.projects-container .projects .project-fond {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 58%;
  height: calc(100vh - 4vw);
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  background-color: #0171B9;
  opacity: 0.5;
}
.projects-container .projects .project-title {
  position: absolute;
  top: 20%;
  left: 10%;
}
.projects-container .projects .project-title h2 {
  font-family: "Bangers";
  font-size: 3vw;
  font-weight: lighter;
  width: 33vw;
}
.projects-container .projects .project-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.projects-container .projects .project-image img {
  width: 10vw;
}
.projects-container .projects .projects-navigation {
  position: absolute;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 50px;
}
.projects-container .projects .projects-navigation span {
  display: block;
}
.projects-container .projects .projects-navigation span img {
  border: black solid 2px;
  border-radius: 50%;
  padding: 12px;
  text-align: center;
  width: 75px;
  height: 75px;
}

.skills {
  overflow: hidden;
  height: calc(100vh - 4vw);
}
.skills:before {
  content: "Skills";
  font-family: "Bangers";
  font-size: 4vw;
  font-weight: 400;
  background-color: #FED004;
  border: 0.4vw solid black;
  border-right: none;
  position: absolute;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  top: 60px;
  right: 0px;
  z-index: 1;
}
.skills .skills-content {
  background: url("../svg/min/shapes-pattern.svg"), #FFFFFF;
  height: 100%;
  padding: 4vw 4vw 4vw 4vw;
  border: 0.4vw solid black;
  position: relative;
  overflow-y: hidden;
  background-repeat: repeat;
  background-size: 15%;
}
.skills .skills-content-grid {
  width: 100%;
  height: 100%;
}
.skills .skills-content-grid__svg {
  height: 100%;
}
.skills .skills-content-grid svg {
  overflow: unset;
  width: 100%;
  height: auto;
}
.skills .skills-content-grid svg circle {
  stroke: black;
}
.skills .skills-content-grid svg #master .group rect {
  fill: #ffe364;
}
.skills .skills-content-grid svg #master .group g rect {
  fill: black;
}
.skills .skills-content-grid svg #master .group text {
  text-shadow: 2px 1px 0px #ffffff;
  display: none;
  font-size: 1.5vw;
}
.skills .skills-content-grid svg #master .group:hover text {
  display: block;
  -webkit-animation: reveal 0.5s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  position: absolute;
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 5%);
            transform: translate(0, 5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 5%);
            transform: translate(0, 5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.skills .skills-content__img {
  pointer-events: none;
  -o-object-fit: 80%;
     object-fit: 80%;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  height: 95%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0.1vw);
          transform: translate(-50%, 0.1vw);
}

.about {
  width: 100%;
}
.about:before {
  content: "About Me";
  font-family: "Bangers";
  font-size: 4vw;
  font-weight: 400;
  background: #FED004;
  border: 0.4vw solid black;
  border-right: none;
  position: absolute;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  top: 60px;
  right: 0px;
  z-index: 1;
}

.about-content {
  width: 100%;
  height: calc(100vh - 4vw);
  border: 0.4vw solid black;
  position: relative;
  background: url("../svg/min/shapes-pattern.svg"), #22B170;
  background-size: 15%;
  background-position: center center;
}
.about-content__bubble {
  position: fixed;
  -webkit-transform: translate(10vw, 0);
          transform: translate(10vw, 0);
}
.about-content__profil {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-10%, 10%);
          transform: translate(-10%, 10%);
  height: 75%;
  bottom: 0;
}
.about-content__content {
  text-align: center;
  margin: 3vw auto;
  padding: 2vw;
  width: 60vw;
  overflow: hidden;
}
.about-content__content .content-logo {
  width: 7vw;
  border-radius: 100%;
  position: relative;
}
.about-content__content .content-text p {
  font-family: "Komika Hand", sans-serif;
  margin-top: 2vw;
  font-size: 1.5vw;
  text-shadow: 1px 1px 0px #ffffff;
}
.about-content__content .content-links {
  margin-top: 2vw;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
}
.about-content__content .content-links a {
  margin: 0 1vw;
  font-family: "Bangers";
  font-weight: 100;
  font-size: 2vw;
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#D81F25), color-stop(50%, #D81F25), color-stop(0, #080808));
  background-image: linear-gradient(90deg, #D81F25, #D81F25 50%, #080808 0);
  background-size: 200% 100%;
  background-position: 100%;
  cursor: pointer;
  color: #080808;
  text-align: left;
  letter-spacing: 2px;
}
.about-content__content .content-links a:nth-last-child(1) {
  display: block;
}
.about-content__content .content-links a:hover {
  background-position: 0;
  color: #0171B9;
}

.error-container {
  width: 100%;
  height: calc(100vh - 4vw);
  border: 0.4vw solid black;
  background: url("../svg/min/circle-pattern-1.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.error-container a {
  position: absolute;
  top: 0;
  left: 4vw;
}
.error-container .title-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-family: "Bangers";
  text-align: center;
  font-weight: 400;
  margin: auto;
  font-size: 4vw;
  text-shadow: 10px 7px 0px #00000067;
  color: #FFFFFF;
}

#loading {
  position: absolute;
  z-index: 1000;
  background-color: white;
  height: 100vh;
  width: 100vw;
  text-align: center;
  line-height: 100vh;
}
#loading .loading-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-button {
  position: fixed;
  background-color: transparent;
  outline: none;
  border: none;
  border: 0;
  padding: 0;
  top: 58px;
  left: 62px;
  width: 33px;
  height: 18px;
  z-index: 2;
  cursor: pointer;
}

.menu-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-bars .bar1 {
  background-color: #fff;
  width: 16px;
  height: 2px;
  position: relative;
  margin: 0 0 2px 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.menu-bars .bar2 {
  background-color: #fff;
  width: 28px;
  height: 2px;
  position: relative;
  margin: 2px 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.menu-bars .bar3 {
  background-color: #fff;
  width: 16px;
  height: 2px;
  position: relative;
  left: 16px;
  margin: 2px 0 0 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

#nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #D81F25;
  top: 0;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  z-index: 2;
}
#nav-main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}
#nav-main section .nav-link {
  font-family: Bangers;
  font-size: clamp(2.5rem, 2.2685rem + 1.2346vw, 3.75rem);
  font-weight: 400;
  color: black;
  padding: 2vw 3vw;
  background-color: white;
  border: 5px black solid;
  margin: 10px 0;
}

.skew {
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.vertical {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.skewback {
  -webkit-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
}