.menu-button {
  position: fixed;
  background-color: transparent;
  outline: none;
  border: none;
  border: 0;
  padding: 0;
  top: 58px;
  left: 62px;
  width: 33px;
  height: 18px;
  z-index: 2;
  cursor: pointer;
}

.menu-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-bars .bar1 {
  background-color: #fff;
  width: 16px;
  height: 2px;
  position: relative;
  margin: 0 0 2px 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.menu-bars .bar2 {
  background-color: #fff;
  width: 28px;
  height: 2px;
  position: relative;
  margin: 2px 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.menu-bars .bar3 {
  background-color: #fff;
  width: 16px;
  height: 2px;
  position: relative;
  left: 16px;
  margin: 2px 0 0 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

#nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #D81F25;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  z-index: 2;
}
#nav-main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}
#nav-main section .nav-link {
  font-family: Bangers;
  font-size: clamp(2.5rem, 2.2685rem + 1.2346vw, 3.75rem);
  font-weight: 400;
  color: black;
  padding: 2vw 3vw;
  background-color: white;
  border: 5px black solid;
  margin: 10px 0;
}

.skew {
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.vertical {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.skewback {
  -webkit-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
}